<launch>
<arg name="ag_n" default="0" />
<arg name="config" default="/root/catkin_ws/src/VINS-Fusion/config/euroc/euroc_mono_imu_config.yaml" />

<group ns="agent_$(arg ag_n)">
    <node pkg="vins" type="vins_node" name="vins_node" args="$(arg config)" output="screen">
        <remap from="/cam0/image_raw" to="/cam0/image_raw$(arg ag_n)"/>
        <remap from="/cam1/image_raw" to="/cam1/image_raw$(arg ag_n)"/>
        <remap from="/imu0" to="/imu$(arg ag_n)"/>
        <remap from="/agent_$(arg ag_n)/vins_node/camera_pose" to="/agent_$(arg ag_n)/cam_odom"/>
    </node>
</group>

</launch>

